.Account {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.cont {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    flex: 1;
    text-align: center;
    line-height: 25px;
    padding: 30px;
    font-size: 18px;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    flex-wrap: wrap;
    border: 1px solid rgba(59, 96, 96, 0.5);
    border-radius: 5px;
    margin: 3%;
}

.cont .title {
    font-size: 25px;
    font-weight: 600;
    position: relative;
}

.inp5 {
    border-radius: 1.3rem;
    width: 400px;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 12px;
    border: 1.4px solid #8a8988;
    margin: 11px auto;
    padding: 10px;
    text-align: center;
    border: 3px solid #eee;
    box-shadow: 0 0 35px 10px rgba(0, 0.02, 0.6, 0.06);
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #708791;
}

.head5 {
    color: #708791;
}

.cont label {
    color: #708791;
}

.rule {
    letter-spacing: 0.3px;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.AccountForm {
    margin: 20px 50px;
    background: linear-gradient(to right bottom,
            #88bdbc,
            #29535e);
    flex: 1;
    text-align: center;
    max-width: 500px;
    line-height: 65px;
    padding: 4px 50px 20px 30px;
    font-size: 18px;
    align-items: center;
    flex-direction: column;
    display: inline-block;
    font-weight: bold;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 10px 10px rgba(59, 96, 96, 0.5);
    color: rgb(243, 245, 245);
}

.AccountForm h1 {
    background: linear-gradient(to left bottom,
            #8fb4b2,
            #e0e3e4);
    color: transparent;
    background-clip: text;
}